Enamine_Kinase_Library_plated_64960cmpds_20250316.sdf
5cno_clean.pdbqt
clusters.json
sampled_ligands.sdf
.idea/
vina.exe
dynamics/66/output/*
deprecated/
docking/docked*
docking/preprocessed*   
dynamics/8/output/*
dynamics/15/output/*
dynamics/124/output/*
dynamics/313/output/*